/*
 *	@author:Le Vinh Thien;
 *	@date:05/09/2015;
 *	@mail:ohmyodvt95@gmail.com;
 *	@location:home/index.php;
 *	@copyright 2015;
**/
/*default*/
body{
	font-size: 14px;
	font-family: "Raleway";
}
/*
 * SLIDER
*/
#owl-demo .item img{
	z-index: 0;
   display: block;
   width: 100%;
   height: auto;
}
#owl-demo:hover .owl-theme .owl-controls .owl-buttons div{
   display: block;
}
.owl-theme  .owl-prev{
	position: absolute;
 	left: -5px;
 	top: 40%;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #000;
	height: 50px;
	width: 100px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	background-color: #fff;
}
.owl-theme  .owl-next{
 	position: absolute;
 	right: -5px;
 	top: 40%;
}
#owl-product .owl-controls .owl-buttons div{
	color: #000;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	background-color: gray;
}
#owl-product .owl-prev{
 	left: -25px;
}
#owl-product .owl-next{
 	right: -25px;
}

/*
 * PRODUCTS
*/
.products .heading{
	font-family: 'Raleway';
	padding-left: 15px;
	border-left: 40px solid #7BAE23;
	font-weight: bolder;
}
.products .intro{
	font-family: 'Raleway';
	font-size: 18px;
}
.products h2{
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	font-family: 'Raleway';
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	margin-bottom: 50px;
}
.products h2 a{
	color: #000;
}
.products h2 a:hover{
	text-decoration: none;
	color: blue;
}
.products .sub-heading{
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	font-family: 'Raleway';
	padding: 10px 0px 10px 20px;
	font-weight: bolder;
	border-left: 5px solid #7BAE23;
	border-bottom: 2px solid #7BAE23;
	font-size: 20px;
	border-radius: 0 0 0 15px;
}
.products .box{
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	padding-bottom: 10px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.box:hover{
	box-shadow: 0px 0px 10px gray;
}
.box:hover img{
	opacity: 0.1;
}
.box:hover button{
	background-color: #FFA200;
	border-color: #FFA200;
	box-shadow: 0px 3px 6px gray;
}
.box  button:hover{
	padding-left: 20px;
	font-weight: bolder;
	background-color: #FF432E;
}
.box:hover .info{
	display: block;
}
.box img{
	transition: 0.25s;
	height: 250px;
}
.box h3{
	padding:0;
	font-size: 18px;
	font-weight: bolder;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.box h3 a{
	color: #000;
}
.box h4{
	color: #D0021B;
	font-size: 16px;
}
.box .info{
	top: 20px;
	position: absolute;
	display: none;
	width: 100%;
	height: 300px;
	padding: 15px 15px 15px 30px;
	font-family: 'Raleway';
	overflow: hidden;
}
.box .info p{
	font-family: 'Roboto';
	color: #000;
	font-weight: 300;
}
.box .info a{
	color: #3B599B;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	font-size: 16px;
}
.box .info h3{
	padding-bottom: 10px;
	border-left: 4px solid #3B599B;
	padding-left: 10px;
}
.btn-more{
	margin: 10px;
	margin-top: 20px;
}

/*tesmonicals*/
#owl-testimonials .item{
	width: 100%;
	padding: 5px;
	background-color: #F6F6F6;
	border-radius: 5px;
}
#owl-testimonials .item p{
	padding: 10px;
	font-family: 'Raleway';
	color: #b9bbba;
	border-right: 1px solid gray;
}
#owl-testimonials .item h4{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(227, 227, 227);
}

#owl-testimonials .owl-pagination{
	display: none;
}
.testimonials{
	margin-top: 80px;
}
.testimonials h3{
	font-weight: bold;
	font-size: 20px;
}
.owl-nav{
	margin-top: -10px;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	width: 40px;
	padding: 5px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border: 2px solid #F6F6F6;
}
.owl-nav:hover{
	background-color: #7BAE23;
}
/*new feeds*/
.newfeeds{
	margin-top: 80px;
}
#owl-newfeeds p{
	text-align: justify;
	padding: 5px;
}
#owl-newfeeds .owl-pagination{
	display: none;
}
.readmore{
	font-weight: bold;
	color: #82B929;
}
.newfeeds .item{
	padding: 5px;
	border-right: 1px solid rgb(227, 227, 227);
}
.newfeeds h3{
	font-weight: bold;
	font-size: 20px;
}
.newfeeds .item h4{
	font-weight: 300;
	font-size: 16px;
}
/*// quang cao*/
.ads{
	margin-top: 80px;
}
.ads h3{
	font-weight: bold;
	font-size: 20px;
}
.ads-box{
	border-radius: 4px;
	background-color: #F6F6F6;
	height: 400px;
	width: 100%;
}